/* General Styles */
body {
  font-size: 16px;
  background-color: var(--bg-overlay-color);
  font-family: "FiraGO", sans-serif;
}
.container {
  max-width: 90%;
  width: 1010px;
  margin: 0 auto;
}

.min-container {
  max-width: 85%;
  width: 940px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}
.overflow {
  overflow: hidden;
}
.active a {
  color: var(--main-color) !important;
}

.border-bottom {
  border-bottom: 1px solid rgb(67, 67, 67);
}
